@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #EEF0F7;

    }

    img {
        display: block;
        width: 100%;
        height: 250px;
    }

.search-form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

input,
button {
    border: none;
    padding: 14px;
    border-radius: 3px;
    }

input {
    border: 2px solid #DADDEC;
    // margin: 5px 0 10px;
    font-size: 1rem;
    color: #656880;
        }
    
button {
  background-image: linear-gradient(to right, #89CAFF, #6589FF);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 20px #89caff94;
  transition: box-shadow .3s ease-in-out;
   }

button:hover {
  box-shadow: none;
  }

  .gallery,
  .comment-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .gallery {
    margin-left: -20px;
    padding-top: 30px;
    justify-content: center;
  }

  .gallery-link {
    margin-top: 20px;
    margin-left: 20px;
    min-width: 280px;
    width: calc((100% - 80px) / 4);
    text-decoration: none;
  }

  .comment-box {
    color: #021524a2;
    font-size: 10px;
    gap: 6px;
    background-image: linear-gradient(131.83deg, #FFFAFA 0%, #FFF7F7 99.21%);
    text-align: center;
    border-radius: 5px;
}


  #infiniteScroll {
      font-size: 2.5em;
      position: fixed;
      bottom: 10px;
      right: 10px;
      cursor: pointer;
      z-index: 2;
  }

  #infiniteScroll::before {
      content: "🔝";
  }
